dist: trusty
sudo: false
group: beta

language: node_js

addons:
  firefox: "latest"
  chromium-browser: latest
  jwt:
    secure: gOkUNHNfk6pVPAZcjAXMiZ2TUDshkD5EH9whWMOyNaDmibVHedvNp6gFIyblnCO2DtNhfjwCYjSKZp3jj7UKjW447gV6VKWKruZ0frwXJR7pVY6fL22W0kQIMGiEVEZjaiWQd1LI3klAaIRvUC810OJNwEQBlWThP/KmbJex6u7aGSDRyyrl47P2Zh7FeKvsWsn5CMz1t1uZ6EH+1U9TJ3/txnbRxEx01dx9U6ibL3G7C7I/N+RXCydk7ntMUAhpcosW095UO1WeHTfhs4nX0NR7czqKf9SjudxA96ny0U8sVYpTpVDrrcmpN7nKgOIvrov7uWXIpnpfF898O2DGfnvV6rdnyzsS01DO8x8IX+iq4e6rq9Oab2x+JwdPXJtds87cOtOKnaI3n2VW0yXPy1+VLz3i6k1//mqrYH5kxLTTtipuaNiSNVZAJMexsrOuFvRhKjOjHvqgn1oMVbHvAB/SncX5zyNdHMDPN7GnTfMyQKY0/Rca4icX4kgvTllWKDa04OxIu//bqCZqhL8O10/7ZA61IkczZ5xt1YZOXgp7tv2dBsoptPwhYdstblWl4zYviFntdxBxWfzUwIcrSEWmMTIaLUZvKHSl2UC5Ev+Zqwoh9gjo+aTFhZ7LU42mJRiLtkeZpaq9Y7+j9nyyy+epL5CZre4b7q4fq1fXYso=
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - google-chrome
    packages:
      - g++-4.8
      - google-chrome-stable
env:
  global:
    - DEBUG=wdio-screenshot:*
    - SAUCE_USERNAME=zinserjan
    - CXX=g++-4.8

matrix:
  include:
    # Node 4 with GraphicsMagick
    - node_js: 4
      env: GRAPHICSMAGICK=true
      addons:
        apt:
          packages:
            - graphicsmagick
            - google-chrome-stable

    # Node 4 without GraphicsMagick
    - node_js: 4
      env: GRAPHICSMAGICK=false

    # Node 6 without GraphicsMagick
    - node_js: 6
      env: GRAPHICSMAGICK=false

before_script:
  - echo "using chrome $(chrome  --version)"
  - echo "using firefox $(firefox --version)"
  - export FIREFOX_BIN=$(which firefox)
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm run server &

script:
  - npm run test
  - npm run test:standalone
  - if ( [ "${TRAVIS_PULL_REQUEST}" != "false" ] || [ "${TRAVIS_BRANCH}" = "master" ] ) && [ "${TRAVIS_NODE_VERSION}" = "4" ] && [ "$GRAPHICSMAGICK" = "false" ]; then npm run test:sauce; fi
