
body {
  background-color: yellow;
}

.container {
  position: relative;
  background-color: black;
  padding: 25px 50px;
}

.horizontal {
	width: 8000px;
	margin: 0;
	padding: 0;
}

.horizontal-panel {
  width: 300px;
  float: left;
}

.static {
  width: 1300px;
  max-width: none;
}

.responsive-min-width {
  min-width: 1300px;
}

.footer {
  height: 50px;
  background-color: red;
}

.box {
  height: 100px;
}

.box-long {
  height: 2500px;
}

.overlay-open {
  overflow: hidden;
}

.display-block-important {
  display: block !important;
}

.visibility-visible-important {
  visibility: visible !important;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  min-width: 100%;
  min-height: 100%;
}

.overlay-inner {
  width: auto;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.overlay-content {
  margin: 30px;
}

.border {
  border: 10px solid red;
}

.row {
  margin: 25px 0;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.white {
  background-color: white;
}

.cyan {
  background-color: cyan;
}

.chocolate {
  background-color: chocolate;
}

.gray {
  background-color: gray;
}

.indigo {
  background-color: indigo;
}

.lime {
  background-color: lime;
}

.magenta {
  background-color: magenta;
}

.maroon {
  background-color: maroon;
}

.navy {
  background-color: navy;
}

.olive {
  background-color: olive;
}

.silver {
  background-color: silver;
}

.snow {
  background-color: snow;
}

.tan {
  background-color: tan;
}

.tomato {
  background-color: tomato;
}

.violet {
  background-color: violet;
}

.sienna {
  background-color: sienna;
}

.purple {
  background-color: purple;
}

.moccasin {
  background-color: moccasin;
}

.khaki {
  background-color: khaki;
}

.gold {
  background-color: gold;
}

.coral {
  background-color: coral;
}
